ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h2,
h3 {
  color: #212121;
}

body a {
  text-decoration: none;
  color: #757575;
}

body {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  color: #757575;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.logo-top {
  position: relative;
  cursor: default;
  padding: 15px 16px;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo-mid {
  cursor: default;
  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.accent {
  font-family: "Oleo Script" normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  color: #000000;
}

.accent-footer {
  letter-spacing: 0.03em;
  line-height: 28px;
  color: #ffffff;
}

.header {
  border: 1px solid #ececec;
}

.menu-container {
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  padding: 20px;
  text-align: center;
  background-color: orange;
}

.menu-button {
  position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  right: 0;
}

.icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.mail-nav :hover,
:focus {
  color: #2196f3;
}

.nav-item {
  padding: 15px 10px;
}

.nav-item::after {
  display: block;
  position: absolute;
  content: " ";
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  /* opacity: 0; */
  transform: scaleX(0);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover::after {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 1;
  width: 100%;
  transform: scaleX(1);
}

.nav-item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

/*  */
.site-nav :hover,
:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .bs {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.buttom-secondary {
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 4px;
  padding: 6px 20px;
  font-family: inherit;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  transition: 500ms 500ms;
}
.buttom-secondary:hover,
.buttom-secondary :focus {
  transition: 500ms;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.shadow {
  opacity: 0;
}

.section-banner {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-color: #2f303a;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(/images/background-Img.jpg);
}
@media screen and (min-width: 480px) {
  .section-banner {
    width: 480px;
    height: 400px;
  }
}

.banner {
  padding-top: 118px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.buttom-primary {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
.buttom-primary:hover,
.buttom-primary :focus {
  background-color: #188ce8;
  background-color: #188ce8;
}

.section-cards {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 480px) {
  .flex-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    width: 480px;
  }
}

.card-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 30px;
  border: 1px solid #e5e5e5;
}

.img-hover {
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #2196f3;
  transform: translateY(100%);
  transition: 900ms cubic-bezier(0.47, 0.01, 0.45, 1.36);
}

.card-hover {
  position: relative;
  overflow: hidden;
}

.card-item:hover .img-hover {
  position: absolute;
  overflow: hidden;
  transform: translateY(0%);
  opacity: 0.9;
}

.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-item .title {
  padding-top: 20px;
  text-align: center;
}

.name-card {
  padding-top: 4px;
  padding-bottom: 20px;
  text-align: center;
}

.section-skills {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .section-skills {
    width: 480px;
  }
}

.section-title {
  display: none;
}

.list-item {
  margin-bottom: 60px;
  text-align: center;
}

.list-item svg {
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
}

@media screen and (max-width: 768px) {
  .work {
    display: none;
  }
}

.work-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.list-work p {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-top: 224px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.list-work {
  display: block;
  margin-right: 30px;
  width: 370px;
  height: 294px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.icon-mac {
  background-image: url(/images/img1.jpg);
}

.icon-macbook {
  background-image: url(/images/img2.jpg);
}

.icon-ipad {
  background-image: url(/images/img3.jpg);
}

.team {
  background-color: #f5f4fa;
}

.section-team {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .section-team {
    width: 480px;
  }
}

.section-team h2 {
  padding-bottom: 30px;
  padding-top: 60px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  width: 100%;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team h3 {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.section-team p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.social-link {
  display: flex;
  padding-top: 16px;
  padding-bottom: 24px;
}

.poy {
  fill: #afb1b8;
  fill: color3 #f5f4fa;
}
.poy:hover,
.poy :focus {
  fill: #ffffff;
  --color3: $accent-color;
  border: radius 2px;
}

.section-clients {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .section-clients {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section-clients {
    width: 768px;
  }
}

@media screen and (min-width: 480px) {
  .clients-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (width: 768px) {
  .clients-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.clients-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
}

.clients-item {
  margin: 1%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients-item:hover {
  border-color: #2196f3;
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: 30%;
  }
}

.clients-logo {
  width: 100%;
  height: 92px;
  margin: 1%;
  fill: #afb1b8;
}
.clients-logo:hover,
.clients-logo :focus {
  fill: #2196f3;
}
.clients-logo .use {
  display: flex;
  width: 210px;
  height: 90px;
}

.section-footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}
@media screen and (min-width: 480px) {
  .section-footer {
    width: 480px;
    padding-top: 60px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .section-footer {
    padding-bottom: 60px;
  }
}
.section-footer:hover {
  color: #2196f3;
}

.footer-address {
  color: #ffffff;
}
.footer-address:focus,
.footer-address :hover {
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .footer-link {
    width: 480px;
    padding-top: 60px;
  }
}

.company-mail :focus {
  color: #2196f3;
}

.footer-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-link {
  justify-content: center;
}

.icon-Ellipse {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  fill: #ffffff;
}
.icon-Ellipse:hover {
  border: radius 2px;
  fill: #ffffff;
}

.footer-mail-title {
  color: #ffffff;
}

.form-field {
  flex-direction: column;
  border-radius: 5px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .form-field {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.form-field input {
  border-radius: 4px;
  padding-left: 16px;
  width: 450px;
  margin: 0;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.svg-button {
  transform: translateY(-100%);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.buttom-footer:hover .svg-button {
  transform: translateY(0%);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-footer {
  overflow: hidden;
  font: inherit;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding-top: 10px;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
}
.buttom-footer:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 480px) {
  .buttom-footer {
    margin-left: 31%;
  }
}/*# sourceMappingURL=main.css.map */