.header {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 768px;
    align-items: center;
  }
  border: 1px solid #ececec;
}
.nav {
  @media screen and (min-width: 480px) {
    width: 480px;
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.nav-item {
  padding-right: 10%;
}
.site-nav {
  padding-left: 8%;
  display: flex;

  &:hover,
  :focus {
    color: $accent-color;
  }
}
.mail-nav {
  &:hover,
  :focus {
    color: $accent-color;
  }
}

.nav-item::after {
  display: block;
  position: absolute;
  content: " ";
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 5px;
  background-color: $accent-color;
  /* opacity: 0; */
  transform: scaleX(0);
  transition: transform 700ms $cubic;
}
.nav-item:hover::after {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 1;
  width: 100%;
  transform: scaleX(1);
}
.nav-item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
}

.icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
