.header {
  border: 1px solid #ececec;
}
.menu-container {
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;
  padding: 20px;
  text-align: center;
  background-color: orange;
}
.menu-button {
  position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  right: 0;
  // background-color: transparent;
}

.icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
.mail-nav :hover,
:focus {
  color: $accent-color;
}

.nav-item {
  padding: 15px 10px;
}
.nav-item::after {
  display: block;
  position: absolute;
  content: " ";
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 5px;
  background-color: $accent-color;
  /* opacity: 0; */
  transform: scaleX(0);
  transition: transform 700ms $cubic;
}
.nav-item:hover::after {
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 1;
  width: 100%;
  transform: scaleX(1);
}
.nav-item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
}

/*  */

.site-nav :hover,
:focus {
  color: $accent-color;
}
