.section-clients {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.clients-list {
  margin: 5px;
  display: flex;
  @media screen and (min-width: 480px) {
    width: 50%;
  }
}
.clients-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
}
.clients-item {
  border: 1px solid $svg-color;
  border-radius: 4px;

  &:hover {
    border-color: $accent-color;
  }
}

.clients-logo {
  width: 100%;
  fill: $svg-color;

  &:hover,
  :focus {
    fill: $accent-color;
  }
}
