.work {
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 215px;
  padding-right: 215px;
  @media screen and (min-width: 450px) {
    display: none;
  }
  @media screen and (min-width: 750px) {
    display: none;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
    display: block;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
.work-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  padding-bottom: 5%;
}
.work-cards {
  display: flex;
}
.list-work {
  margin: 1%;
  width: 33.33%;

  background-color: $back-human-color;
}
.list-work p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 40px;
  padding-top: 10px;

  background: rgba(47, 48, 58, 0.8);
  color: $white-color;
}

// .icon-mac {
//   background-image: url(/images/img(5).jpg);
// }
// .icon-macbook {
//   background-image: url(/images/img(8).jpg);
// }
// .icon-ipad {
//   background-image: url(/images/img(11).jpg);
// }
