.work {
  @media screen and (min-width: 450px) {
    display: none;
  }
  @media screen and (min-width: 750px) {
    display: none;
  }
  @media screen and (min-width: 1600px) {
    display: block;
    flex-wrap: wrap;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-left: 215px;
    padding-right: 215px;
  }
}
.work-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  padding-bottom: 5%;
}
.work-cards {
  display: flex;
}
.list-work p {
  padding-top: 5%;
  margin-top: 66%;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  width: 100%;
  height: 18%;
  background: rgba(47, 48, 58, 0.8);
  color: $white-color;
}

.list-work {
  margin: 1%;
  width: 370px;
  height: 294px;

  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $back-human-color;
}
.icon-mac {
  background-image: url(/images/img1.jpg);
}
.icon-macbook {
  background-image: url(/images/img2.jpg);
}
.icon-ipad {
  background-image: url(/images/img3.jpg);
}
