.section-banner {
  display: block;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;

  background-color: $footer-color;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url(/images/background-Img.jpg);

  @media screen and (min-width: 480px) {
    width: 480px;
    height: 400px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}
.banner {
  padding-top: 118px;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;

  color: $white-color;
}

.buttom-primary {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 0.06em;

  color: $white-color;
  background-color: $accent-color;

  &:hover,
  :focus {
    background-color: $bgc-buttom;
    background-color: $bgc-buttom;
  }
}
