.section-skills {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid red;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
}
.section-title {
  display: none;
}

.list-item {
  margin-bottom: 60px;
  text-align: center;
}
.list-item svg {
  height: 120px;
  width: 100%;
  background-color: $back-human-color;
}
