.test-section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 100px;
  margin-top: 100px;
  border: 1px solid red;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1600px) {
    width: 1600px;
  }
}
// галлирея
// .test-st {
//   margin-right: 2%;
//   margin-left: 2%;

//   margin-bottom: 100px;
//   margin-top: 100px;
//   border: 1px solid rgb(6, 62, 247);
// }

.test-box {
  width: 1600px;
  height: 600px;
  background-image: url(/images/Img1x.jpg);
  background-size: 1600px 600px;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .test-box {
    background-image: url(/images/Img3.jpg);
  }
}
